In [43]:
import numpy as np
import pandas as pd

In [44]:
uniform = np.random.uniform(size=(10,10))

In [45]:
data = pd.DataFrame(uniform, columns='a b c d e f g h i j'.split())

In [46]:
class PandasData:
    def __init__(self, data):
        self.data = data

In [47]:
pd_data = PandasData

In [48]:
class PandasData:
    def __init__(self, data):
        self.data = data
        
    # 객체를 문자열로 나타내줌
    def __str__(self):
        return "안녕 나는 헤라클래스!"
    
    # index를 출력할 수 있도록 해줌
    def __getitem__(self, idx):
        return self.data[idx]
    
    # 길이를 출력
    def __len__(self):
        return len(self.data)
    
    # 클래스를 함수처럼 호출할 수 있게 해줌
    def __call__(self):
        # 호출을 하면 head를 찍어보는 걸로 한 번 만들어 보자
        return self.data.tail()

In [49]:
# 인스턴스 생성
pd_data = PandasData(data)

In [50]:
print(pd_data)

안녕 나는 헤라클래스!

In [51]:
str(pd_data)

'안녕 나는 헤라클래스!'

In [52]:
data["a"][0]

0.49093050643723424

In [53]:
pd_data[3:5]

,a,b,c,d,e,f,g,h,i,j
3,0.822473,0.442845,0.749607,0.975008,0.928250,0.137773,0.916243,0.190099,0.122698,0.177940
4,0.273348,0.587199,0.431852,0.561297,0.747268,0.990932,0.607604,0.151989,0.229444,0.295326

In [54]:
len(pd_data)

10

In [55]:
pd_data[:10]

,a,b,c,d,e,f,g,h,i,j
0,0.490931,0.798145,0.369205,0.337213,0.089832,0.538217,0.213409,0.835282,0.703280,0.183609
1,0.342320,0.110358,0.329303,0.200641,0.358563,0.132686,0.259946,0.502630,0.124713,0.777048
2,0.406546,0.400724,0.084855,0.465807,0.980129,0.871105,0.527233,0.502613,0.556894,0.778169
3,0.822473,0.442845,0.749607,0.975008,0.928250,0.137773,0.916243,0.190099,0.122698,0.177940
4,0.273348,0.587199,0.431852,0.561297,0.747268,0.990932,0.607604,0.151989,0.229444,0.295326
5,0.863766,0.588007,0.037971,0.963160,0.268123,0.530880,0.931787,0.860124,0.933815,0.923336
6,0.568105,0.270825,0.411842,0.011616,0.107343,0.936577,0.875857,0.391063,0.144297,0.294253
7,0.116349,0.206168,0.636735,0.939419,0.668287,0.019006,0.619156,0.652777,0.636786,0.987807
8,0.487573,0.042358,0.000766,0.678771,0.209054,0.221766,0.728587,0.725210,0.118333,0.186661
9,0.486882,0.710628,0.377286,0.460922,0.001621,0.332872,0.491135,0.557694,0.752697,0.426548

In [56]:
pd_data()

,a,b,c,d,e,f,g,h,i,j
5,0.863766,0.588007,0.037971,0.963160,0.268123,0.530880,0.931787,0.860124,0.933815,0.923336
6,0.568105,0.270825,0.411842,0.011616,0.107343,0.936577,0.875857,0.391063,0.144297,0.294253
7,0.116349,0.206168,0.636735,0.939419,0.668287,0.019006,0.619156,0.652777,0.636786,0.987807
8,0.487573,0.042358,0.000766,0.678771,0.209054,0.221766,0.728587,0.725210,0.118333,0.186661
9,0.486882,0.710628,0.377286,0.460922,0.001621,0.332872,0.491135,0.557694,0.752697,0.426548