In [2]:
import os
import re
from glob import glob

import tensorflow as tf
from tensorflow import keras
#import tensorflow.experimental.numpy as np
import numpy as np

from PIL import Image
import matplotlib.pyplot as plt

In [3]:
# 데이터 로드
data_path = os.path.join("images", "*")

data_list = glob(data_path)

len(data_list)

7393

In [4]:
data_list[0]

'images/pug_126.jpg'

In [5]:
# 확장자 확인
file_extention = []
for data in data_list:
    basename = os.path.basename(data)
    _, file = basename.split(".")
    
    if file in file_extention:
        continue
    else:
        file_extention.append(file)

In [6]:
file_extention

['jpg', 'mat']

In [7]:
for i, data in enumerate(data_list):
    basename = os.path.basename(data)
    _, file = basename.split(".")
    
    if file == "mat":
        del data_list[i]

In [8]:
# 3개가 줄어듬
len(data_list)

7390

In [9]:
# channel 수 확인

# 4채널 처리 방법
# 방법 1 : 4채널을 3채널로 바꾸기
# 방법 2 : 4채널 지우기 V

for i, data in enumerate(data_list):
    image_data = Image.open(data)
    mode = image_data.mode
    
    if mode != "RGB":
        del data_list[i]

In [10]:
# 12개 줄었음
# 전체에서 15개 줄었음
len(data_list)

7378

In [11]:
data_list[:10]

['images/pug_126.jpg',
 'images/Bombay_87.jpg',
 'images/Siamese_154.jpg',
 'images/staffordshire_bull_terrier_25.jpg',
 'images/saint_bernard_71.jpg',
 'images/beagle_98.jpg',
 'images/japanese_chin_154.jpg',
 'images/shiba_inu_158.jpg',
 'images/havanese_163.jpg',
 'images/keeshond_124.jpg']

In [12]:
class_list = []
for data in data_list:
    basename = os.path.basename(data)
    label = os.path.splitext(basename)[0]
    
    label = re.sub("_\d+", "", label)
    
    if label in class_list:
        continue
    else:
        class_list.append(label)
class_list

['pug',
 'Bombay',
 'Siamese',
 'staffordshire_bull_terrier',
 'saint_bernard',
 'beagle',
 'japanese_chin',
 'shiba_inu',
 'havanese',
 'keeshond',
 'miniature_pinscher',
 'samoyed',
 'boxer',
 'Sphynx',
 'Egyptian_Mau',
 'British_Shorthair',
 'newfoundland',
 'Birman',
 'basset_hound',
 'german_shorthaired',
 'american_pit_bull_terrier',
 'Bengal',
 'leonberger',
 'Ragdoll',
 'chihuahua',
 'Russian_Blue',
 'english_setter',
 'Maine_Coon',
 'pomeranian',
 'Abyssinian',
 'american_bulldog',
 'wheaten_terrier',
 'yorkshire_terrier',
 'scottish_terrier',
 'great_pyrenees',
 'english_cocker_spaniel',
 'Persian']

In [13]:
print (type(class_list))

<class 'list'>

In [25]:
class_list = []
for data in data_list:
    basename = os.path.basename(data)
    label = os.path.splitext(basename)[0]
    
    label = re.sub("_\d+", "", label)
    
    class_list.append(label)

In [29]:
class_list = list(set(class_list))

In [30]:
len(class_list)

37

In [31]:
class_to_index = {cls : i for i, cls in enumerate(class_list)}

In [32]:
class_to_index

{'Russian_Blue': 0,
 'Ragdoll': 1,
 'Siamese': 2,
 'British_Shorthair': 3,
 'wheaten_terrier': 4,
 'great_pyrenees': 5,
 'staffordshire_bull_terrier': 6,
 'basset_hound': 7,
 'english_cocker_spaniel': 8,
 'pug': 9,
 'Bombay': 10,
 'american_pit_bull_terrier': 11,
 'pomeranian': 12,
 'german_shorthaired': 13,
 'leonberger': 14,
 'samoyed': 15,
 'Persian': 16,
 'scottish_terrier': 17,
 'beagle': 18,
 'Birman': 19,
 'Bengal': 20,
 'newfoundland': 21,
 'chihuahua': 22,
 'yorkshire_terrier': 23,
 'saint_bernard': 24,
 'miniature_pinscher': 25,
 'Egyptian_Mau': 26,
 'shiba_inu': 27,
 'Sphynx': 28,
 'Abyssinian': 29,
 'japanese_chin': 30,
 'keeshond': 31,
 'Maine_Coon': 32,
 'boxer': 33,
 'american_bulldog': 34,
 'english_setter': 35,
 'havanese': 36}