## 문자열

In [1]:
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [5]:
say = "\"Python is very easy.\" he says."
print(say)

"Python is very easy." he says.

In [3]:
food = 'Python\'s favorite food is perl'
print(food)

Python's favorite food is perl

In [7]:
# 줄바꿈 \n
multiline = 'Life is too short\nyou need python'
print(multiline)

Life is too short
you need python

In [9]:
# 줄바꿈 따옴표 3개
multiline = '''
Life is too short
You need python
'''
print (multiline)

Life is too short
You need python

## 문자열 연산

In [11]:
head = 'python'
tail = ' is fun!'
head + tail

'python is fun!'

In [15]:
# 문자열 곱하기
head = 'python'*2
head


head = 'python'
head*2

'pythonpython'

In [17]:
print('='*50)
print('my python')
print('='*50)

==================================================
my python
==================================================

In [18]:
# 문자열 길이 구하기
multiline = "Life is too short"
len(multiline)

17

## 문자열 인덱싱과 슬라이싱

In [23]:
a = 'Life is too short, you need python'
a[16]
a[-6]

'p'

In [24]:
a = 'Life is too short, you need python'
a[0:4]

'Life'

In [29]:
a = 'Life is too short, you need python'
a[-15:]

'you need python'

In [32]:
a = '20210131cloudy'
date = a[:8]
weather = a[-6:]
date + weather

'20210131cloudy'

In [34]:
a = 'pithon'
a[0] + 'y' + a[2:]

'python'

## 문자열 포매팅

In [36]:
'I eat %d apples'%3

'I eat 3 apples'

In [37]:
'I eat %s apples'%'delicious'

'I eat delicious apples'

In [43]:
number = 'ten thousand'
'I eat %s apples' % number

'I eat ten thousand apples'

In [45]:
number = 1000
day = 'seven'
'I ate %d apples. So I was sick for %s days' % (number, day)

'I ate 1000 apples. So I was sick for seven days'

In [49]:
'Error is %s%%' % 98

'Error is 98%'

In [50]:
'%10s' % 'hi'

'        hi'

In [51]:
'%-10sJenny' % 'hi'

'hi        Jenny'

In [52]:
'%10sJenny' % 'hi '

'       hi Jenny'

In [55]:
'%0.5f' % 3.145287

'3.14529'

In [56]:
'I ate {} apples'.format(10)

'I ate 10 apples'

In [57]:
'I ate {} apples'.format("thousand")

'I ate thousand apples'

In [59]:
'I ate {} apples. So I was sick for {} days'.format(90000,"seven")

'I ate 90000 apples. So I was sick for seven days'

In [61]:
num = 9000
day = 'three'
'I ate {} apples. So I was sick for {} days'.format(num,day)

'I ate 9000 apples. So I was sick for three days'

In [64]:
'I ate {} apples. So I was sick for {day} days'.format(1000,day="three")

'I ate 1000 apples. So I was sick for three days'

In [62]:
# 오른쪽 정렬
'{0:<10}'.format("hi")

'hi        '

In [66]:
# 왼쪽 정렬
'{0:>10}'.format("hi")

'        hi'

In [67]:
# 가운데 정렬
'{0:^10}'.format("hi")

'    hi    '

In [68]:
# 공백 채우기
'{0:=^10}'.format("hi")

'====hi===='

In [69]:
'{0:!<10}'.format("hi")

'hi!!!!!!!!'

In [71]:
'{0:?>20}'.format("get out of here!")

'????get out of here!'

In [73]:
y = 3.145297
'{0:0.4f}'.format(y)

'3.1453'

In [76]:
# {} 삽입
'{{and}}'.format()

'{and}'

In [82]:
# f문자열 포매팅
name1 = "무사"
name2 = "무휼"
year = 30
objet = '떡'
f"나는 {name1} {name2}, {year+5}년째 {objet}만 써는 중이다"

'나는 무사 무휼, 35년째 떡만 써는 중이다'

## 문자열 관련 함수

In [88]:
# 문자 개수 세기
a = 'apple pencil 3rd genaration'
a.count('n')

3

In [96]:
# 위치 알려주기
a = 'apple pencil 3rd genaration'
a.find('r')

14

In [97]:
# 없는 문자는 -1로 출력
a = 'apple pencil 3rd genaration'
a.find('k')

-1

In [99]:
# 문자열 삽입
".".join("Jaden")

'J.a.d.e.n'

In [100]:
# 소문자를 대문자로
a = 'hi'
a.upper()

'HI'

In [105]:
# 대문자를 소문자로
a = 'HI'
a.lower()

'hi'

In [106]:
# 왼쪽 공백 지우기
a = ' hi '
a.lstrip()

'hi '

In [107]:
# 오른쪽 공백 지우기
a = ' hi '
a.rstrip()

' hi'

In [110]:
# 양쪽 공백 지우기
a = ' hi '
a.strip()

'hi'

In [111]:
# 문자열 바꾸기
a = "HI my name is Jaden"
a.replace("Jaden","Will")

'HI my name is Will'

In [117]:
# 문자열 나누기
a = "Today is very gloomy and tired"
#a.replace("gloomy","blue")
a.split()

['Today', 'is', 'very', 'gloomy', 'and', 'tired']

In [120]:
a = "a:b:c:d"
a.split(":")

['a', 'b', 'c', 'd']