## 딕셔너리 쌍 추가, 삭제

In [4]:
a = {1:'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [6]:
a['name'] = 'pay'
a

{1: 'a', 2: 'b', 'name': 'pay'}

In [7]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pay', 3: [1, 2, 3]}

In [8]:
# 딕셔너리 요소 삭제
del a['name']
a

{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [11]:
grade = {'pay':10, 'greece':99}
grade['greece']

99

In [12]:
# key값은 중복될 수 없다
a = {1:'a', 1:'b'}
a

{1: 'b'}

## 딕셔너리 관련 함수

In [13]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [14]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.values()

dict_values(['pey', '0119993323', '1118'])

In [15]:
for k in a.keys():
    print(k)

name
phone
birth

In [17]:
for k in a.values():
    print(k)

pey
0119993323
1118

In [19]:
# Key, Value 쌍 얻기
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [22]:
# Key, Value 쌍 지우기
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.clear()
a

{}

In [24]:
# key 조사
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
'name' in a
'number' in a

False