In [1]:
# 문제1
국어 = 80
영어 = 75
수학 = 55
(국어+영어+수학)/3

70.0

In [6]:
# 문제2
num = 13
if num % 2 == 0:
    print(True)
else:
    print(False)

False

In [9]:
# 문제3
num = '881120-1068234'
num[:6]
num[-7:]

'1068234'

In [10]:
# 문제4
pin = "881120-1068234"
num[-7]

'1'

In [12]:
# 문제5
a = "a:b:c:d"
b = a.replace(":","#")
b

'a#b#c#d'

In [14]:
# 문제6
# [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
a = [1, 3, 5, 4, 2]
a.sort()
a

[1, 2, 3, 4, 5]

In [17]:
a.reverse()
a

[5, 4, 3, 2, 1]

In [22]:
# 문제7
# ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.
a = ['Life', 'is', 'too', 'short']
b = " ".join(a)
b

'Life is too short'

In [25]:
# 문제8
# (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
a = (1,2,3)
a = a + (4,)
a

(1, 2, 3, 4)

In [28]:
# 문제10
# 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print (result)

80

In [29]:
# 문제11
# a 리스트에서 중복 숫자를 제거해 보자.
a = set([1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5])
a

{1, 2, 3, 4, 5}