# Python 연습문제

In [2]:
# 문제1
print ("Hello World")

Hello World

In [3]:
# 문제2
print ("Mary's cosmetics")

Mary's cosmetics

In [4]:
# 문제3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
# 문제4
print ("C:\Windows")

C:\Windows

In [6]:
# 문제5
print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n은 줄바꿈이고 \t 탭의 역할을 한다. \t이 두번 입력되었으므로 탭이 두번 적용되었다.무무ㅈ

안녕하세요.
만나서		반갑습니다.

In [9]:
# 문제6
print ("오늘은", "일요일")

# 쉼표로 구분해 주어서 두 값이 따로 출력된다.

오늘은 일요일

In [8]:
# 문제7
print ("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [10]:
# 문제8
print ('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

In [11]:
# 문제9
print("first", end="")
print("second")

firstsecond

In [12]:
# 문제10
print (5/3)

1.6666666666666667

In [13]:
# 문제11
x = 50000
print (x*10,"원")

500000 원

In [14]:
# 문제12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.9

print (시가총액, type(시가총액))
print (현재가, type(현재가))
print (PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.9 <class 'float'>

In [17]:
# 문제13
s = "hello"
t = "python"

print (f"{s}! {t}")

hello! python

In [18]:
# 문제14
print ( 2 + 2 * 3 )
# 사칙연산에서는 곱하기가 우선이므로 8이라는 결과가 나온다.

8

In [19]:
# 문제15
a = "132"
print (type(a))

<class 'str'>

In [22]:
# 문제16
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [24]:
# 문제17
num = 100
num_str = str(num)
print (num_str, type(num_str))

100 <class 'str'>

In [25]:
# 문제18
flt_str = "15.79"
flt_float = float(flt_str)
print (flt_float, type(flt_float))

15.79 <class 'float'>

In [26]:
# 문제19
year = "2020"
year_int = int(year)
print (year_int+1)

2021

In [28]:
# 문제20
month = 48584
inst = 36
print (month*inst)

1749024

In [33]:
# 문제21
letter = 'python'
print(letter[0], letter[2])

p t

In [35]:
# 문제22
license_plate = "24가 2210"
print (license_plate[-4:])

2210

In [36]:
# 문제23
string = "홀짝홀짝홀짝"
print (string[0:5:2])

홀홀홀

In [38]:
# 문제24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [39]:
# 문제25
phone_number = "010-1111-2222"
print (phone_number[0:3], phone_number[4:8], phone_number[-4:])

010 1111 2222

In [41]:
# 문제26
phone_number1 = "010"
phone_number2 = "1111"
phone_number3 = "2222"
print (phone_number1, end = '')
print (phone_number2, end = '')
print (phone_number3)

01011112222

In [44]:
# 문제27
url = "http://sharebook.kr"
print (url[-2:])

kr

In [43]:
# 문제28
lang = 'python'
lang[0] = 'P'
print(lang)
# 문자열은 수정이 안돼서 오류가 발생한다.

TypeError: 'str' object does not support item assignment

In [46]:
# 문제29
string = 'abcdfe2a354a32a'
string = string.replace('a','A')
print (string)

Abcdfe2A354A32A

In [47]:
# 문제30
string = 'abcd'
string.replace('b', 'B')
print(string)
# replace 함수에 대한 변수를 지정하지 않았으므로 기존의 문자열이 출력된다.

abcd