# Python 연습문제

In [3]:
# 문제61 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라.
price = ['20180728', 100, 130, 140, 150, 160, 170]
print (price[1:])

[100, 130, 140, 150, 160, 170]

In [5]:
# 문제62 슬라이싱을 사용해서 홀수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (nums[0::2])

[1, 3, 5, 7, 9]

In [6]:
# 문제63 슬라이싱을 사용해서 짝수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (nums[1::2])

[2, 4, 6, 8, 10]

In [9]:
# 문제64 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
nums = [1, 2, 3, 4, 5]
print (nums[-4:]

SyntaxError: unexpected EOF while parsing (<ipython-input-9-ee46e266c20a>, line 3)

In [10]:
# 문제64 정답
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [14]:
# 문제65 interest 리스트에는 아래의 데이터가 바인딩되어 있다.
#        interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver']
print (interest[0,2])

TypeError: list indices must be integers or slices, not tuple

In [15]:
# 문제65 정답
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [17]:
# 문제66 interest 리스트에는 아래의 데이터가 바인딩되어 있다.
#       interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print (" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [18]:
# 문제67 interest 리스트에는 아래의 데이터가 바인딩되어 있다.
#       interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print ("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [21]:
# 문제68 interest 리스트에는 아래의 데이터가 바인딩되어 있다.
#       interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print ("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [22]:
# 문제69 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
#       이를 interest 이름의 리스트로 분리 저장하라.
string = "삼성전자/LG전자/Naver"
print (string.split("/"))

['삼성전자', 'LG전자', 'Naver']

In [23]:
# 문제70 리스트에 있는 값을 오름차순으로 정렬하세요.
data = [2, 4, 3, 1, 5, 10, 9]
print (data.)

SyntaxError: invalid syntax (<ipython-input-23-340bd86061ac>, line 3)

In [26]:
# 문제70 정답
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print (data)

[1, 2, 3, 4, 5, 9, 10]

In [2]:
# 문제71 my_variable 이름의 비어있는 튜플을 만들라.
my_variable = ()
print (my_variable)
print (type(my_variable))

()
<class 'tuple'>

In [4]:
# 문제72 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print (movie_rank)
print (type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키')
<class 'tuple'>

In [6]:
# 문제73 숫자 1 이 저장된 튜플을 생성하라.
num = (1)
print (num)
print (type(num))

1
<class 'int'>

In [7]:
# 문제74 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

# 튜플의 요소는 바꿀 수가 없기 때문에 t의 0번째 자리에 있는 수를 'a'로 바꿀 수 없다

SyntaxError: invalid syntax (<ipython-input-7-c7b11e94193b>, line 2)

In [8]:
# 문제75 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
t = 1, 2, 3, 4
print (t)
print (type(t))

# 원칙적으로 괄호로 원소들을 감싸줘야 하지만 편의상 생략해도 괜찮다

(1, 2, 3, 4)
<class 'tuple'>

In [9]:
# 문제76 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.
t = ('a', 'b', 'c')
t.replace('a', 'A')
print (t)

AttributeError: 'tuple' object has no attribute 'replace'

In [10]:
# 문제76 정답
t = ('a', 'b', 'c')
# 원소가 변경이 안되기 때문에 변수 t를 다시 설정해준다.
t = ('A', 'b', 'c')
print (t)

('A', 'b', 'c')

In [11]:
# 문제77 다음 튜플을 리스트로 변환하라.
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)
print (interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [13]:
# 문제77 정답
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print (data)
print (type(data))

['삼성전자', 'LG전자', 'SK Hynix']
<class 'list'>

In [14]:
# 문제78 다음 리스트를 튜플로 변경하라.
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print (data)
print (type(data))

('삼성전자', 'LG전자', 'SK Hynix')
<class 'tuple'>

In [15]:
# 문제79 다음 코드의 실행 결과를 예상하라.
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# (apple, banana, cake)으로 출력될 것 같다.

apple banana cake

In [18]:
# 문제80 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
for num in range(2,99,2):
    print (num, end="")
    
print (type(num))

2468101214161820222426283032343638404244464850525456586062646668707274767880828486889092949698<class 'int'>

In [20]:
# 문제80 정답
data = tuple(range(2, 100, 2))
print( data )
print (type(data))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)
<class 'tuple'>