In [1]:
# 문제 181 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라

# 101호	102호
# 201호	202호
# 301호	302호

apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]
for i in apt:
    print (i)

['101호', '102호']
['201호', '202호']
['301호', '302호']

In [2]:
# 문제 182 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

# 시가 종가
# 100  80
# 200 210
# 300 330

stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]
for i in stock:
    print (i)

['시가', 100, 200, 300]
['종가', 80, 210, 330]

In [4]:
# 문제 183 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가 종가
# 100  80
# 200 210
# 300 330

stock = {'시가':[100, 200, 300], '종가':[80,210,330]}
stock.values()

dict_values([[100, 200, 300], [80, 210, 330]])

In [7]:
# 문제 184 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 
# 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

# 10/10	80	110	70	90
# 10/11	210	230	190	200

stock = {'10/10':[80,110,70,90], '10/11':[210,230,190,200]}
stock.values()

dict_values([[80, 110, 70, 90], [210, 230, 190, 200]])

In [18]:
# 문제 185 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for h in i:
        print (h, '호')
        
# 이중 for문을 사용하였는데 어떤 원리로 아래와 같은 출력값이 나왔는지 궁금합니다.

101 호
102 호
201 호
202 호
301 호
302 호

In [20]:
# 문제 186 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for h in i:
        print (h, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [21]:
# 문제 187 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for h in i[::-1]:
        print (h, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [22]:
# 문제 188 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for h in i:
        print (h, '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [24]:
# 문제 189 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for h in i:
        print (h, '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [25]:
# 문제 190 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for h in i:
        print (h, '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [3]:
# 문제 191 data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for column in i:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [5]:
# 문제 192 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for column in i:
        print(column * 1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [9]:
# 문제 193 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for column in i:
    result.append(column * 1.00014)
result

[15452.163, 15052.107, 15552.177, 14902.086000000001]

In [10]:
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]