## 변수 만들기

In [2]:
x = 10
x

10

In [3]:
y = 'Hello, world!'
y

'Hello, world!'

### 변수의 자료형 알아내기

In [4]:
type(x)

int

In [5]:
type(y)

str

### 변수 여러 개 한 번에 만들기

In [7]:
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)

10
20
30

변수와 값의 개수는 동일하게 맞춰줘야 함

In [8]:
x, y, z = 10, 20

ValueError: not enough values to unpack (expected 3, got 2)

다만, 변수의 값이 모두 같으면 아래와 같은 방식도 허용된다.

In [12]:
x = y = z = 10
print(x)
print(y)
print(z)

10
10
10

In [16]:
del x
# print(x)
print(y)
print(z)

NameError: name 'x' is not defined

## 변수로 계산하기

### 산술 연산 후 할당 연산자 사용하기

In [17]:
a = 10
a + 20

30

In [18]:
a

10

In [19]:
a = 10
a = a + 20
a

30

In [20]:
a = 10
a += 20
a

30

## 입력 값을 변수에 저장하기

### input 함수 사용하기

In [21]:
input()

Hello, world!

'Hello, world!'

In [22]:
x = input()

Hello, world!

In [23]:
x

'Hello, world!'

In [24]:
type(x)

str

In [25]:
x = input('문자열을 입력하세요: ')

문자열을 입력하세요: Hello, world!

In [26]:
x

'Hello, world!'

In [27]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
 
print(a + b)

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 4
34

### 입력 값을 정수로 변환하기

In [31]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = int(input('두 번째 숫자를 입력하세요: '))
 
print(a + b)

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 4
7

In [32]:
a = float(input('첫 번째 숫자를 입력하세요: '))
b = float(input('두 번째 숫자를 입력하세요: '))
 
print(a + b)

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 4
7.0

## 입력 값을 변수 두 개에 저장하기

공백을 기준으로 분리한다

In [35]:
a, b = input('문자열 두 개를 입력하세요: ').split()
print(a)
print(b)

문자열 두 개를 입력하세요: Hello Python
Hello
Python

### 두 숫자의 합 구하기

In [37]:
a, b = input('숫자 두 개를 입력하세요.: ').split()
print(a)
print(b)
print(a+b)

숫자 두 개를 입력하세요.: 10 20
10
20
1020

### 입력 값을 정수로 변환하기

In [38]:
a, b = input('숫자 두 개를 입력하세요.: ').split()
a = int(a)
b = int(b)
print(a+b)

숫자 두 개를 입력하세요.: 10 20
30

In [39]:
a, b = input('숫자 두 개를 입력하세요.: ').split()
print(a)
print(b)
print(int(a)+int(b))

숫자 두 개를 입력하세요.: 10 20
10
20
30

### map을 사용하여 정수로 변환하기

In [40]:
a, b = map(int, input('숫자 두 개를 입력하세요.: ').split())
print(a + b)

숫자 두 개를 입력하세요.: 10 20
30

콤마를 기준으로 분리 가능하다

In [41]:
a, b = map(int, input('숫자 두 개를 입력하세요.: ').split(','))
print(a + b)

숫자 두 개를 입력하세요.: 10,20
30

### 연습문제

In [42]:
a, b, c = map(int, input().split())
print(a + b + c)

-10 20 30
40

In [44]:
a = 50
b = 100
c = None
print(a)
print(b)
print(c)

50
100
None

In [47]:
korean, english, mathematics, science = map(int, input().split())
print( (korean+english+mathematics+science)//4)

83 92 87 90
88